@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

body {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    padding: 25px;
    padding-top: 0;
}

button {
    border: none;
    background-color: rgb(216, 38, 44);
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    padding: 12px 24px;
    line-height: 18.4px;
    box-sizing: border-box;
    margin-right: 12px;
}

li {
    margin-bottom: 12px;
}

.header {
    display: flex;
    justify-content: center;
}

.popover {
    border: rgb(216, 38, 44) 5px solid;
    border-radius: 25px;
    padding: 25px;
    padding-top: 12px;
}

.popover-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animated-popover {
    &:popover-open {
        @starting-style {
            transform: translateY(20px);
            opacity: 0;
        }

        transform: translateY(0);
        opacity: 1;
    }

    transform: translateY(-50px);
    opacity: 0;

    transition: transform 0.5s, opacity 0.5s, display 0.5s allow-discrete;
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-button {
    padding: 6px 12px;
    margin: 0;
}

#anchor-button {
    anchor-name: --tooltip;
    /* margin: 12px 100px; */
}

.tooltip {
    padding: 8px;
    margin: 10px;

    position-anchor: --tooltip;
    inset-area: right span-top;
    /* position-try-options: flip-block, flip-inline, flip-block flip-inline; */

    &:popover-open {
        @starting-style {
            opacity: 0;
        }

        opacity: 1;
    }

    opacity: 0;

    transition: opacity 0.2s, display 0.2s allow-discrete;
}

